nav {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-family: 'Roboto Mono', sans-serif;
    font-weight: bolder;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
}

titleName {
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    font-size: 60px;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

li {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
}
html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 60px; /* Margin bottom by footer height */
}


.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px; /* Set the fixed height of the footer here */
    line-height: 60px; /* Vertically center the text there */

}




